html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f5f6fa;
}

.sidebar{
  height: 100vh;
  background-color: rgb(75, 216, 164);
  padding: 10px;
}

.container-graphic{
  background-color: red;
  height: 200px;
}

